.hero-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: 12px;
}

.hero-image .picture {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display:block;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.picture {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
}

.hero-text {
    text-align: center;
    padding: 20px 10px;
}

.hero-text h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight:700;
    text-shadow: 1px 1px 5px
  rgba(0, 0, 0, 0.7);
}

.hero-text p {
    font-size: 1.1rem;
    color: #555;
}



header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
    flex-wrap: wrap;
}

header nav a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 8px;
    transition: background 0.2s, color 0.2s;
}

header nav a:hover {
    background-color: #ccc;
    color: #222;
}


main section {
    background-color: #ffffff;
    max-width: 1000px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

main section h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #222;
    text-align: center;
}

main section p {
    font-size: 1rem;
    color: #555;
    text-align: center;
}

main section ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
    padding: 0;
}

main section ul li {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    transition: transform 0.2s, box-shadow 0.2s;
}

main section ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

main section ul h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #222;
}

